.App {
  text-align: center;
}

ul, ol {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

.rounded-xs {
  border-radius: 5px;
}

.rounded-md {
  border-radius: 10px;
}

.rounded-lg {
  border-radius: 20px;
}